**/_build
**/cover
**/deps
erl_crash.dump
*.ez
*.beam

### Phoenix ###
# Phoenix: a web framework for Elixir
_build/
/db
/deps
/*.ez
node_modules/
erl_crash.dump
/priv/static/
/config/prod.secret.exs
/rel
